<div class="row">
    <div class="col-md-8">
        <h1 class="h3 mb-2 text-gray-800">Your Staff</h1>
        <p>You can view, create, edit or remove staff from here</p>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary float-right" (click)="create()">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col" style="text-align: right;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let businessStaff of businessStaffs">
            <td>{{businessStaff.id}}</td>
            <td>{{businessStaff.firstName}} {{businessStaff.lastName}}</td>
            <td>{{businessStaff.businessRoleType.businessRoleName}}</td>
            <td class=" float-right">
                <button class="btn btn-primary ml-2" (click)="update(businessStaff)">
                    <i class="fa fa-edit"></i>
                </button>
                <!-- <button class="btn btn-danger ml-2" (click)="remove(businessStaff.id)">
                    <i class="fa fa-trash"></i>
                </button> -->
            </td>
        </tr>
    </tbody>
</table>

<modal #modal [modalConfig]="modalConfig">
    <form class="user" #businessRoleForm="ngForm">
        <div class="form-group row" *ngIf="!isUpdate">
            <div class="col-sm-12">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control form-control-user" id="firstName" placeholder="First Name" required
                    [(ngModel)]="businessStaffDTO.firstName" name="firstName" #firstName="ngModel">
            </div>
        </div>
        <div class="form-group row" *ngIf="!isUpdate">
            <div class="col-sm-12">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control form-control-user" id="lastName" placeholder="Last Name" required
                    [(ngModel)]="businessStaffDTO.lastName" name="lastName" #lastName="ngModel">
            </div>
        </div>
        <div class="form-group row" *ngIf="!isUpdate">
            <div class="col-sm-12">
                <label for="email">Email</label>
                <input type="text" class="form-control form-control-user" id="email" placeholder="Email" required
                    [(ngModel)]="businessStaffDTO.username" name="email" #email="ngModel">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <label for="businessRoleName">Role</label>
                <ng-select [items]="businessRoleTypes" [(ngModel)]="businessStaffDTO.businessRoleType" bindLabel="businessRoleName" name="businessRoleType">
                </ng-select>
            </div>
        </div>
    </form>
</modal>