/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  color: black;
  font-weight: 400;
}

.navbar-nav a, span {
  cursor: pointer;
}

.navbar-nav a:hover {
  background: #4066d6;
}
